---
import IconButtonLink from '../components/IconButtonLink.svelte';
import { Cv, Github, Linkedin } from "../icons";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout nomenu={true}>
	<div class="cont w-full text-center">
		<!--  Main section HERO  -->
		<span
			class="brand-text text-6xl py-4 font-bold bg-gradient-to-r from-primary via-accent to-secondary text-transparent bg-clip-text"
		>
			404
		</span>
		<span class="text-5xl font-bold txt-neutral-content">
			Regresa por favor
		</span>
        <div class="flex w-full justify-center mt-4">
            <a href="/" class="btn btn-primary btn-outline">Ir al inicio</a>
        </div>
	</div>
</MainLayout>

<style>
	.cont {
		padding: 1rem 0;
		display: grid;
		place-content: center;
		height: 70%;
        gap: 2em;
	}
</style>